// src\pages\question-page\ui\questionPage.module.scss
.flex {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 120px;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
