// src/widgets/questionPanel/ui/panelQuestions.module.scss
.mainPanel {
  width: 800px;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 12px;
  padding: 25px 20px;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.line {
  border-color: hsla(0, 0%, 73%, 0.2);
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.resultsInfo {
  margin-bottom: 16px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.PurpleBtn {
  display: flex;
  align-items: center;
  align-self: start;
  padding: 0 32px;
  font-size: 16px;
  height: 48px;
  margin-top: 20px;
  border-radius: 12px;
  color: #6a0bff;
  border: 1px solid #6a0bff;
  background-color: white;
  cursor: pointer;
}
