// src/widgets/listQuestions/ui/listQuestions.module.scss
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px; // Минимальная высота для контейнера
}

.content {
  flex: 1; // Занимает всё доступное пространство
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.line {
  border: none;
  border-top: 1px solid hsla(0, 0%, 73%, 0.2);
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 1px;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex: 1;
}

.paginationWrapper {
  margin-top: auto;
}

.resultsInfo {
  margin-bottom: 16px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.PurpleBtn {
  display: flex;
  align-items: center;
  align-self: start;
  padding: 0 32px;
  font-size: 16px;
  height: 48px;
  margin-top: 20px;
  border-radius: 12px;
  color: #6a0bff;
  border: 1px solid #6a0bff;
  background-color: white;
  cursor: pointer;
}
