// src/features/skills/ui/skills.module.scss
.listSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.skill {
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
  border: 1px solid #a3a3a3;
  border-radius: 12px;
  padding: 3px 12px;
  font-size: 16px;
  transition: all 0.2s ease;

  &:hover {
    color: white;
    background-color: #5533ff;
  }
}

.skillSelected {
  border-color: #5533ff;

  &:hover {
    background-color: #4528d4;
    color: white;
  }
}

.toggleLink {
  color: #6a0bff;
  font-size: 14px;
}
