// src/shared/ui/QuestionRateComplexity/questionRateComplexity.module.scss
.ratingDifficulty {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #303030;

  span {
    font-weight: 500;
  }
}

.ratingBox {
  display: flex;
  gap: 20px;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.purpleBox {
  padding: 2px 4px;
  display: inline-block;
  text-align: center;
  height: 17px;
  min-width: 10px;
  border-radius: 4px;
  background-color: #6a0bff;
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
