// src/widgets/sideBar/ui/sideBar.module.scss
.mainSideBar {
  width: 360px;
  min-height: 200px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 24px;
}
