// src\widgets\container\ui\container.module.scss
.mainPanel {
  width: 800px;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 12px;
  padding: 25px 20px;
}

.maxPanelHeight {
  height: 200px;
}
