// src/shared/ui/Specialization/specializationSkeleton.module.scss
.specializationSkeleton {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
