// src/entities/questions/ui/questionCard.module.scss
.question {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 10px 0 #6a63761a;
  contain: layout style;
  will-change: transform;
}

.card {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

.headerButton {
  width: 100%;
  text-align: left;
  border: none;
  background-color: hsla(0, 0%, 100%, 1);
  padding: 16px 24px;
  margin-bottom: 0;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerTitle {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #333;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: hsla(250, 100%, 60%, 1);
    border-radius: 50%;
    top: 7px;
    left: 0;
  }
}

.arrow {
  transition: transform 0.3s ease;
  flex-shrink: 0;

  &.arrowOpen {
    transform: rotate(180deg);
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 0 0 12px 12px;
  padding: 0 24px 0 24px;

  &.contentOpen {
    max-height: 500px;
    padding: 0 24px 16px 24px;
  }
}

.ratingDifficulty {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #303030;

  span {
    font-weight: 500;
  }
}

.ratingBox {
  display: flex;
  gap: 20px;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.purpleBox {
  padding: 2px 4px;
  display: inline-block;
  text-align: center;
  height: 17px;
  min-width: 10px;
  border-radius: 4px;
  background-color: #6a0bff;
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.description {
  margin-bottom: 16px;
  line-height: 1.5;
  font-size: 16px;

  // Стили для HTML-контента внутри description
  code {
    display: inline;
    padding: 2px 4px !important;
    background: #f0f0f0 !important;
    color: #26a95f !important;
    line-height: 1.2;
    vertical-align: baseline;
    border-radius: 3px !important;
    font-size: 14px;
  }

  pre {
    background: #282c34 !important;
    min-height: 56px !important;
    max-height: 300px !important;
    overflow: auto;
    line-height: 1.5;
    font-size: 14px !important;
    font-family: "Fira Mono", "JetBrains Mono", consolas, menlo, monaco,
      monospace !important;
    white-space: pre;
    word-break: normal;

    code {
      display: block !important;
      padding: 12px !important;
      background: transparent !important;
      color: white !important;
      tab-size: 2 !important;
      scrollbar-width: thin !important;
      scrollbar-color: #b0b0b0 transparent !important;
    }
  }

  p {
    margin-bottom: 12px;
  }
}

.linkBox {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.link {
  color: #6a0bff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}
