// src/widgets/sideBar/ui/sideBar.module.scss

.sections {
  color: hsla(0, 0%, 28%, 1);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
}

.searchBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
  height: 46px;
  border: 0.8px solid rgba(232, 232, 232, 1);
  border-radius: 12px;
  background-color: white;
  width: 90%;
  max-width: 320px;
  transition: border-color 0.2s ease;

  &:focus-within {
    border: 1px solid #5533ff;
  }
}

.icon {
  flex-shrink: 0;
  color: #a3a3a3;
}

.search {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: transparent;

  &::placeholder {
    color: #a3a3a3;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.linkTG {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: 1px solid #a3a3a3;
  border-radius: 12px;
  padding: 3px 12px;
  font-size: 16px;
  margin-top: 24px;

  p {
    margin-left: 5px;
    color: #303030;
    font-size: 16px;
    margin: 0;
    padding: 10px 12px;
  }
}
